
#Get keys from
# http://twitter.com/oauth_clients/new
# Then run get_keys.rb to get access tokens.

#class Consumer_token
# Consumer Key
def cKey
    ""
end

# Consumer Secret
def cSecret
   ""
end

