# Register at [1] and get api key [2]
# [1]: http://bit.ly
# [2]: http://bit.ly/a/your_api_key

module TechNews
   class BitLyKey
      attr_reader :login, :apiKey

      def initialize
         @login  = ""
         @apiKey = ""

         if @login == "" or @apiKey == ""
            puts "You need to register with bit.ly foran Login name and api key"
            puts "Please configure #{__FILE__}"
         end
      end

   end
end
